@import url(./about/style.css);
@import url(./banner/styles.css);
@import url(./cta/style.css);
@import url(./donateBlood/style.css);
@import url(./footer/style.css);
@import url(./services/style.css);
@import url(./testimonial/style.css);
@import url(./who/style.css);
@import url(./whyUs/style.css);

@import url(./navbar/nav.css);
@import url(./reuseableCss/style.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  background-color: #e63946;
  border-radius: 10px;
  font-size: 20px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  transition: all ease 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}