body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding-inline: 80px;
}
.banner {
  text-align: center;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner .banner-text {
  width: 400px;
  font-size: 20px;
  color: #2b2d42;
  font-weight: 500;
  text-align: left;
  .btns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-block: 20px;
  }
}
.banner .banner-text p {
  line-height: 40px;
  letter-spacing: 0.1px;
}
.banner .banner-text span {
  color: #e63946;
  font-weight: 800;
}

.banner .btns button {
  padding: 12px 24px;
  background-color: #e63946;
  border-radius: 10px;
  color: #fff;
  border: none;
  size: 24px;
  line-height: 28px;
  font-weight: 800;
  cursor: pointer;
}

/* Tablet Responsive (768px - 968px) */
@media (max-width: 968px) {
  .container {
    padding-inline: 20px;
  }
 
 
}
/* mobile Responsive (500px) */
@media (max-width: 500px) {
.banner {
    flex-direction: column;
  }
  .banner .btns button {
    padding: 10px 18px;
  }
  .banner .banner-text {
    width: 400px;
    padding: 2px 5px;
    font-size: 20px;
    color: #2b2d42;
    font-weight: 500;
    text-align: center;
    .btns {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-block: 20px;
    }
  }
  .banner .banner-text p {
    line-height: 30px;
    letter-spacing: 0.1px;
  }
  
}
