body{
     font-family: "Inter", sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
.banner{
    text-align: center;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-text {
   width: 362px;
        font-size: 20px;
        color: #2B2D42;
        font-weight: 500;
        text-align: left;
}
.banner .banner-text p {
   line-height: 40px;
   letter-spacing: 0.1px; 
}
.banner .banner-text span {
    color: #E63946;
    font-weight: 800;
}

.banner .btn button {
    padding: 12px 24px;
    background-color: #E63946;
    border-radius: 10px;
    color: #fff;
    border: none;
    size: 24px;
    line-height: 28px;
    font-weight: 800;
    cursor: pointer;
}