:root {
  --bg: #ffffff;
  --text-dark: #1f2937;
  --text-muted: #6b7280;

  --green: #eaf6e3;
  --blue: #e3f1fb;
  --mint: #e3f7f4;
  --lavender: #e6ecfb;

  --stat-bg: #fde2e2;
  --stat-text: #e11d48;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  color: var(--text-dark);
}

section {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--bg);
}

.header-title {
  padding: 3rem;
}
.header-title h1 {
  color: red;
  text-align: center;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.who-first-col p {
  color: red;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }
}
