@import url(../style.css);
.header-title {
  padding-block: 20px;
}
.header-title h1 {
  color: red;
  text-align: center;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.header-title {
  padding-block-start: 70px;
}

.who-first-col p {
  color: red;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.who-second-col img {
  padding: 70px;
  margin: 0 auto !important;
  display: block;
}
@media (max-width: 768px) {
  .header-title {
    padding-block-start: 0px;
  }
  .content-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Tablet Responsive (768px - 968px) */
@media (max-width: 968px) {
  .who-second-col img {
    padding: 70px;
  }
}

/* Mobile Responsive (481px - 767px) */
@media (max-width: 767px) {
  .who-second-col img {
    padding: 70px;
  }
}

/* Small Mobile Responsive (320px - 480px) */
@media (max-width: 480px) {
  .who-second-col img {
    padding: 0px;
  }
}

/* Extra Small Mobile (Below 320px) */
@media (max-width: 319px) {
  .who-second-col img {
    padding: 0px;
  }
}
