@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--var-text-dark);
  background-color: var(--var-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cta{
  height: 750px;
  max-width: 1450px;
  margin: 0 auto;
  background-image: url(./img/cta-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta .images{
  width: 715px;
  display: flex;
  justify-content: space-between;
  img{
    width: 70px;
  }
}
.cta h1{
  color: #E63946;
  font-size: 48px;
}
.cta p{
  color: white;
  padding-block-start: 20px;
  padding-block-end: 40px;
  max-width: 450px;
  text-align: center;
}
.cta button{
  background-color: #e63946;
  border-radius: 10px;
  font-size: 20px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  padding-inline: 30px;
  &:hover {
    transform: scale(1.1);
  }
  i{
    color: red;

  }
  h2{
    padding-inline-start: 15px;
    color: white;
  }
}


/* Tablet Responsive (768px - 968px) */
@media (max-width: 968px) {
  .cta{
    height: 450px;
    max-width: 750px;
    margin: 0 auto;
}
.cta .images{
  width: 515px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  img{
    width: 45px;
  }
}

.cta h1{
  font-size: 32px;
}

.cta p{
  color: white;
  max-width: 350px;
}

.cta button{
  font-size: 14px;
  padding-block: 10px;
  padding-inline: 20px;
   i{
    font-size: 14px;
   }
}

}