@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--var-text-dark);
  background-color: var(--var-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cta{
  height: 750px;
  max-width: 1450px;
  margin: 0 auto;
  background-image: url(./img/cta-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta .images{
  width: 715px;
  display: flex;
  justify-content: space-between;
  img{
    width: 70px;
  }
}
.cta h1{
  color: #E63946;
  font-size: 48px;
}
.cta p{
  color: white;
  padding-block-start: 20px;
  padding-block-end: 40px;
  max-width: 450px;
  text-align: center;
}
.cta button{
  background-color: #e63946;
  border-radius: 10px;
  font-size: 20px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  padding-inline: 30px;
  &:hover {
    transform: scale(1.1);
  }
  i{
    color: red;

  }
  h2{
    padding-inline-start: 15px;
    color: white;
  }
}


/* Tablet Responsive (992px - 1200px) */
@media (max-width: 1200px) {
  .cta{
    height: 650px;
    max-width: 1200px;
    margin: 0 auto;
}
.cta .images{
  width: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  img{
    width: 45px;
  }
}

.cta h1{
  font-size: 42px;
}

.cta p{
  color: white;
  max-width: 450px;
  font-size: 20px;
}

.cta button{
  font-size: 16px;
  padding-block: 10px;
  padding-inline: 20px;
   i{
    font-size: 14px;
   }
}

}
/* Tablet Responsive (768px - 992px) */
 @media (max-width: 992px) {
  .cta{
    height: 550px;
    max-width: 992px;
    margin: 0 auto;
}
.cta .images{
  width: 515px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  img{
    width: 45px;
  }
}

.cta h1{
  font-size: 32px;
}

.cta p{
  color: white;
  max-width: 350px;
}

.cta button{
  font-size: 14px;
  padding-block: 10px;
  padding-inline: 20px;
   i{
    font-size: 14px;
   }
}

} 

/* mobile Responsive without website break (min 576px-max 768px) */
 @media (max-width: 768px) {
  .cta{
    height: 450px;
    max-width: 768px;
    margin: 0 auto;
}
.cta .images{
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
  img{
    width: 40px;
  }
}

.cta h1{
  font-size: 30px;
}

.cta p{
  color: white;
  max-width: 350px;
}

.cta button{
  background-color: #e63946;
  border-radius: 10px;
  font-size: 12px;
  
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  padding-inline: 15px;
  
  i{
    color: red;

  }
  h2{
    padding-inline-start: 15px;
    color: white;
    
  }
}

} 


/* mobile Responsive without website break (min 430px-max 576px) */
 @media (max-width: 576px) {
  .cta{
    height: 400px;
    max-width: 576px;
    margin: 0 auto;
}
.cta .images{
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
  img{
    width: 30px;
  }
}

.cta h1{
  font-size: 25px;
}

.cta p{
  color: white;
  max-width: 350px;
  font-size: 18px;
}

.cta button{
  font-size: 14px;
  padding-block: 10px;
  padding-inline: 20px;
   i{
    font-size: 16px;
   }
}

}   
/* mobile Responsive without website break (min 366px-max 430px) */
 @media (max-width: 430px) {
  .cta{
    height: 380px;
    max-width: 430px;
    margin: 0 auto;
}
.cta .images{
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
  img{
    width: 20px;
  }
}

.cta h1{
  font-size: 20px;
}

.cta p{
  color: white;
  max-width: 350px;
  font-size: 16px;
}

.cta button{
  font-size: 13px;
  padding-block: 8px;
  padding-inline: 18px;
   i{
    font-size: 14px;
   }
}

}   
/* mobile Responsive without website break (min 366px-max 366px) */
 @media (max-width: 366px) {
  .cta{
    height: 360px;
    max-width: 366px;
    margin: 0 auto;
}
.cta .images{
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
  img{
    width: 16px;
  }
}

.cta h1{
  font-size: 18px;
}

.cta p{
  color: white;
  max-width: 250px;
  font-size: 14px;
}

.cta button{
  font-size: 12px;
  padding-block: 6px;
  padding-inline: 16px;
   i{
    font-size: 12px;
   }
}

}   