:root{
  --var-bg:#D9FDF4;
  --var-gray:#6C757D;
}

.testimonial{
background-color: #D9FDF4;
}
.testimonial__title{
  text-align: center;
}
.testimonial__title p{
  max-width: 500px;
  margin: auto;
}
.clip-path{
  border: 3px solid var(--var-gray);
  height: 142px;
  border-radius: 100%;
  margin-top: 30px;
  z-index: 3;
}
.sliders{
  z-index: -1;
  display: flex;
  border: 4px solid;
  width: 100%;
  margin-top: -35px;
}
.slider__one {
  height: 380px;
  width: 350px;
  border: 3px solid var(--var-gray); 
  background-image: url("./img/sliders/left.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}
.slider__two{
  height: 380px;
  flex: 1;
  border: 3px solid;
    background-image: url("./img/sliders/center.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}
.slider__three{
  height: 380px;
  width: 350px;
  border: 3px solid;
    background-image: url("./img/sliders/right.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}