:root {
  --var-bg: #d9fdf4;
  --var-gray: #6c757d;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--var-text-dark);
  background-color: var(--var-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial {
  max-width: 1450px;
  margin: 0 auto;
  background-color: #d9fdf4;
}
.testimonial__title {
  text-align: center;
}
.testimonial__title p {
  max-width: 500px;
  margin: auto;
}
.clip-path {
  height: 100px;
  border-radius: 40%;
  z-index: 3;
  position: relative;
  background-color: #d9fdf4;
}
.sliders {
  display: flex;
  gap: 5px;
  width: 95%;
  margin-top: -65px;
  padding-inline: 35px;
  color: white;
  position: relative;
}
.slider {
  position: relative;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
i {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  height: auto;
  z-index: 30;
  color: WHITE;
  font-size: 50px;
  top: 40%;
  cursor: pointer;
  transition: all ease 0.3s;
  &:hover{
    transform: scale(1.1);
  }
}
i.fa-angle-left {
  left: 20px;
}
i.fa-angle-right {
  right: 30px;
}
.sign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: auto;
  z-index: 1;
}
.slider .text {
  max-width: 240px;
  padding-top: 90px;
  z-index: 1;
}
.slider .title h1 {
  font-size: 20px;
  font-weight: 500;
}
.slider .details {
  color: #6c757d;
  padding-block: 10px;
}
.slider__one,
.slider__three {
  height: 340px;
  width: 400px;
}
.slider__one {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__two {
  height: 380px;
  width: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slider button {
  background-color: #e63946;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-top: auto;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  display: none;
  transition: all ease 0.3s;
  &:hover{
    transform: scale(1.1);
  }
}
.slider.active {
  position: relative;
  padding: 30px;
  .img {
    display: flex;
  }
  button {
    display: block;
  }
}

.slider__two .img {
  position: absolute;
  right: 0;
  bottom: 8px;
  z-index: 0;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 230px;
  width: 300px;
  display: none;
  padding-bottom: 10px;
}

.slider__three {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
