@import url(../style.css);
.footer {
  background: linear-gradient(135deg, #0f0f0f, #2b2b2b);
  color: #fff;
  padding: 20px;
  
}

.footer-container {
  max-width: 1450px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}
.footer-col{
  padding: 10px;
}
.footer-col h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #fff;
}

.social-icons {
  margin: 15px 0;
}

.social-icons a {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
}
.footer-col i{
  font-size: 20px;
}
.donate-btn {
  font-weight: bold;
  margin-top: 15px;
  background: #b11212;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.donate-btn i {
  margin-right: 6px;
}

.donate-btn:hover {
  background: #d41414;
}

.footer hr {
  border: none;
  border-top: 1px solid #555;
  margin-block:20px;
}

.footer .copyright {
    padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
