@import url(../style.css);

.title__container {
  .container {
    display: flex;
    justify-content: flex-end;
  }
  background-color: rgba(6, 214, 158, 0.3);
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.details__about:nth-child(2) {
  background-color: rgba(6, 214, 158, 0.4);
}
.details__about:nth-child(3) {
  background-color: rgba(6, 214, 158, 0.5);
  border-block-start: 10px solid #06d6a0;
}
.details__about:nth-child(4) {
  background-color: rgba(6, 214, 158, 0.6);
  border-block: 10px solid #06d6a0;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-block: 30px;
  h1,
  p {
    text-align: center;
  }
}
.details__about {
  padding-block-start: 20px;
  padding-block-end: 50px;
  .details__title {
    padding-block: 30px;
    text-align: center;
  }
}
