
@import url(../reuseableCss/style.css);
@import url(../style.css);


.donate_form_container {
  background-color: #fff2f2;
}

.form__header {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 0.5rem;
  img{
    width:100px;
  }
 
  h2 {
    color: red;
    font-weight: 600;
  }
}

.donate__form {
  display: grid;
  grid-template-columns:  1fr;
  place-items: center;
  gap: 2rem;
  margin-top: 2rem;

  .donate__login__section h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  ;

  .blood__form_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-inputs {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }

  .join_btn {
    background-color: #a9c9da;
    color: #150404;
    font-weight: bold;
    display: block;
    margin: 0 auto !important;
  }

  .password_validation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    text-align: center;

    h3 {
      font-size: 0.8rem;
      font-weight: 500;
      color: #45deb5;
    }
  }

  .validation__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    text-align: center;

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .validation__progress {
    display: flex;
    width: 100%;
    height: 0.5rem;
    background-color: #a9c9da;
    border-radius: 0.8rem;

    .progress_bar1,
    .progress_bar2,
    .progress_bar3 {
      width: 33%;
      height: 100%;
      background: #dbb2b4;
      border-radius: 0.5rem;
      border-right: 4px solid #333333;
    }

    ;

    .progress_bar2 {
      background-color: #e4d2b3;
      border-radius: 0;
    }

    ;

    .progress_bar3 {
      width: 33%;
      background-color: #cddcb9;
      border-right: 0;
      border-radius: 0;
    }
  }
}

.donate__second__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (min-width: 768px) {
  .donate__second__section {
    flex-direction: row;
    gap: 0;
    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
}
}

